<div class="topbar">
	<div class="container topbar__wrapper">
		<div class="topbar__info">
			<div class="topbar__item">
				<img src="assets/images/icons/phone.svg" alt="" width="20" height="20" />
				<a href="tel:+74263221462">+7 (42632) 21-4-62</a>
			</div>
			<div class="topbar__item">
				<img src="assets/images/icons/mail.svg" alt="" width="20" height="20" />
				<a href="mailto:nikolaevka79@post.eao.ru">nikolaevka79@post.eao.ru</a>
			</div>
			<div class="topbar__item">
				<img src="assets/images/icons/map.svg" alt="" width="20" height="20" />
				<a
					href="https://yandex.ru/maps/10243/jewish-autonomous-oblast/house/bolnichnaya_ulitsa_16/ZUoCaABoTU0BXEJua2J0dHtqZwg=/?ll=134.784860%2C48.557930&z=17"
					target="_blank"
					rel="noopener noreferrer"
					>679150 п. Николаевка, ул. Больничная д.16</a
				>
			</div>
			<div class="topbar__item">
				<img src="assets/images/icons/clock.svg" alt="" width="20" height="20" />
				<span>Пн-Пт: 08:00 - 18:00</span>
			</div>
		</div>
		<div class="topbar__actions">
			<span class="topbar__access-label">Режим для слабовидящих</span>
			<button type="button" class="topbar__icon-btn" aria-label="Специальные возможности">
				<img src="assets/images/icons/eye.svg" alt="" width="20" height="20" />
			</button>
		</div>
	</div>
</div>
